.search-form{
  height: 30px;
  margin: 10px 0px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movies-grid{
  display: flex;
  align-items: space-evenly;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.search-input{
  height: 35px;
  font-size: 14px;
  padding: 10px;
}

.search-btn{
  height: 40px;
  font-size: 14px;
}
